.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.logo {
  margin-left: 2rem;
  width: 23rem;
  height: 5rem;
}

#todays-date {
  margin-right: 2rem;
  font-weight: bolder;
}
