.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.logo {
  margin-left: 2rem;
  height: 4em;
  padding-top: 10px;
}

#todays-date {
  margin-right: 2rem;
  font-weight: bolder;
}

@media only screen and (max-width: 650px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 7em;
  }
  .logo {
    margin: 0;
    height: 5em;
  }
}
