.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem;
  width: 100%;
  height: 4em;
}
.nav-right {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}
.menu {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

.logo {
  width: 18rem;
  height: 4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#todays-date {
  font-weight: bolder;
  color: rgb(146, 3, 3);
}
