.container-quote-text {
  font-weight: 400;
  margin: 0.1rem;
  font-style: italic;
  text-align: center;
  padding: 0 1em;
}
.container-quote-author {
  font-weight: bold;
  font-size: medium ;
  margin: 0.1rem;
  text-align: center;
}
.container-quote {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba(15, 15, 15, 0.404);
  height: 70px;
}
.quote-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
}
.new-quote {
  margin: 0 0.5em;
}
