.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 1em;
  font-family: "Architects Daughter";
  font-weight: 800;
}
.container {
  display: flex;
  flex-direction: row;
  height: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(15, 15, 15, 0.404);
}
.container-quote-text {
  font-weight: 400;
}
.container-quote-author {
  display: flex;
  flex-direction: row-reverse;
}
