.container-quote-text {
  font-weight: 400;
  margin: auto;
  font-style: italic;
  text-align: center;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.3);
  height: 50px;
  width: 80%;
  border-radius: 10px;
}
.container-quote-author {
  position: relative;
  bottom: 18px;
  margin: 0;
  text-align: center;
}
.container-quote {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  height: 70px;
  margin: 0 2em;
}
.quote-header {
  width: 100%;
}
.new-quote {
  position: absolute;
  right: 45px;
  top: 100px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  border: 3px ridge rgba(255, 255, 255, 0.2);
  border-radius: 30%;
  padding: 0.5em;
  max-height: 32px;
  max-width: 32px;
}

.new-quote:hover {
  background: white;
  transition: all 0.3s ease;
}


@media only screen and (max-width: 650px) {
  .container-quote {
    height: 140px;
    width: auto;
    margin: auto;
  }
  .quote-header {
    height: 120px;
    width: 100%;
  }
  .container-quote-text {
    height: 100px;
    margin: auto;
  }
  .new-quote {
    top: 85px;
    right: 70px;
  }
  
}

@media only screen and (max-width: 480px) {
 .quote-header {
   height: 130px;
 }


}