.week-container {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0rem;
  max-width: 100%;
  align-self: center;
  overflow-x: scroll;
  /* box-shadow: 0px 0px 7px 1px rgba(15, 15, 15, 0.404); */

  /* border: solid #61dafb; */
}

.week-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  border: solid blue;
  padding-inline-start: 0px;
}

/* .week-li {
  display: flex;
  justify-content: center;
  margin: 0.1rem;
  width: 5.2rem;
  height: 10rem;
  border: solid #61dafb;
} */

.one-day {
  display: block;
  width: fit-content;
  height: auto;
  text-align: center;
  padding: 1rem;
  margin: 2px;
  /* border: solid#61dafb; */
  border-radius: 20px;
  /* background: rgba(144, 188, 245, 0.85); */
  box-shadow: 5px 5px 5px 0px rgba(15, 15, 15, 0.404);
}

.city-icon {
  width: 3rem;
  height: 3rem;
}

#weather-description {
  margin: 0px;
  margin-right: 0px;
  padding: 0;
  width: fit-content;
}

.weather-temp {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
}

p {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
}

#wekkly-date {
  font-size: small;
}

.week-container::-webkit-scrollbar {
  width: 1em;
}

.week-container::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(185, 194, 233, 0.3); */
}

.week-container::-webkit-scrollbar-thumb {
  background-color: rgb(209, 199, 180);
  border-radius: 7px;
  /* outline: 1px solid rgb(135, 169, 204); */
}
