.week-container {
  display: flex;
  justify-content: flex-start;
  padding: 0.3rem 0rem;
  max-width: 33vw;
  align-self: center;
  overflow-x: scroll;
}

.one-day {
  display: block;
  text-align: center;
  padding: 1rem;
  margin: 2px;
  border-radius: 20px;
  background: rgba(246, 231, 231, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(15, 15, 15, 0.404);
}

.condition {
  margin-bottom: 1rem;
  width: 5rem;
  height: 5rem;
}

#weather-description {
  margin: 0px;
  margin-right: 0px;
  padding: 0;
}

.weather-temp {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  color: #484848;
}

#wekkly-date {
  font-size: small;
}

.week-container::-webkit-scrollbar {
  width: 1em;
}

.week-container::-webkit-scrollbar-thumb {
  background-color: #e4ba9bd1;
  border-radius: 7px;
}
