@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.google.com/specimen/Architects+Daughter?selection.family=Architects+Daughter|Arimo:wght@500&preview.text_type=custom");

body {
  margin: 0;
  font-family: "Arimo", "Architects Daughter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  width: 95%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
