#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
body {
  width: 95%;
  height: 100vh;
}
.container {
  border: thin;
  border-color: rgba(0, 123, 255, 0.7);
  border-style: solid;
  border-radius: 4px;
  width: 100%;
}
.main-container {
  width: 95%;
}
.main-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-group {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.right-group {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.button {
  height: 2em;
}
.add-new {
  padding: 0 1em;
  border: thin;
  border-color: rgba(0, 123, 255, 0.7);
  border-style: solid;
  border-radius: 4px;
}
