.activities {
  padding: 0.5rem;
}
.activities-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}
.events {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  height: 90%;
  padding-left: 0;
  max-height: 22rem;
  overflow-y: scroll;
}

.events::-webkit-scrollbar {
  width: 1em;
}

.events::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid rgb(146, 3, 3);
  /* outline: 1px solid rgb(186, 187, 189); */
  border-radius: 7px;
}

.event-card {
  display: inline-block;
  flex-direction: row;
  width: 85%;
  height: 8em;
  border: 2px solid rgb(146, 3, 3);
  /* box-shadow: 0px 0px 7px 1px rgba(15, 15, 15, 0.404); */
  border-radius: 20px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  align-content: space-between;
}
.event-card p {
  font-size: smaller;
  text-transform: none;
}
.activity-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bolder;
  padding-bottom: 2px;
}
.card-description {
  height: 55%;
  padding: 2px 0;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-small;
  align-items: flex-end;
  align-content: flex-end;
}
.activities-title {
  align-items: flex-end;
  color: white;
  font-weight: bold;
}
.activity-list p {
  margin: 0;
}
.activity-form {
  width: 90%;
  padding: 1em;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.form-activity-input {
  border: 0;
  border-bottom: 2px solid black;
  background: transparent;
  width: 40%; 
}
.form-bottom {
  display: flex;
  flex-direction: row;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}
.weather-icon {
  height: 40px;
  width: 40px;
  background-color: rgb(146, 3, 3);
  border-radius: 50%;
}
.bored-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.bored-container h3 {
  color: rgb(146, 3, 3);
}
.first-p {
  font-weight: 800;
}

.second-p {
  font-style: oblique;
}
.add-new {
  display: flex;
  flex-direction: column;
  align-content: right;
  padding: 0 1em;
  padding-top: 0.2em;
  font-size: small;
  background-color: black;
  border: 3px dotted rgb(146, 3, 3);
  border-radius: 20px;
  height: 110px;
}
.bored-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.bored-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  border-radius: 8px;
  outline: none;
}
button:hover {
  background-color: rgba(144, 188, 245, 0.85);
}
