.activities {
  padding: 1em;
  height: 500px;
  width: 90%;
}
.activity-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.activity-links {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}
.form {
  display: flex;
  width: 90%;
  padding: 5px;
}
.form-group {
  padding: 5px;
}
.events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  height: 90%;
  width: 400px;
  padding-top: 1em;
  max-height: 400px;
  overflow-y: scroll;
}
.event-card {
  display: inline-block;
  flex-direction: row;
  width: 95%;
  height: 8em;
  border: thin;
  border-color: rgba(0, 123, 255, 0.7);
  border-style: solid;
  border-radius: 4px;
  margin: 8px auto;
  align-items: space-between;
}
.activity-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.activity-list p {
  margin: 0;
}
.card-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.bored-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add-new {
  display: flex;
  flex-direction: column;
  width: 100%;
}
button {
  border-radius: 1em;
  outline: none;
}
button:hover {
  background-color: rgba(144, 188, 245, 0.85);
}
